* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
    min-width: 300px;
    height: 300px;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    box-shadow: 1px 2px 3px black;
    font-size: 1rem;
    /* background-color: aliceblue; */
    color: mediumblue;
    cursor: pointer;
  }
